
/* site specific stuff */

:root {
  /* Gradient from firewatchgame.com */
  --red0: hsla(22, 96%, 89%, 1);
  --red1: hsla(16, 98%, 65%, 1);
  --red2: hsla(13, 97%, 63%, 1);
  --red3: hsla(7, 97%, 63%, 1);
  --red4: hsla(352, 64%, 48%, 1);
  --red5: hsla(337, 94%, 25%, 1);
  --red6: hsla(325, 93%, 17%, 1);
  --red7: hsla(304, 43%, 12%, 1);

  --green0: #516333;
  --green1: #7EB550;
  --green2: #8EDB59;
  --green3: #AAFD6F;
  --green4:   #D3FC9F;

  --grey: #324357;
  --white: #aec2e0;
  --black: #000;
  --red: #FF001F;
  --blue: #267fb5;
  --light-blue: #267fb5;
  --rss: #FA9B39;

  --mono-font:
    Menlo,
    Monaco,
    "Ubuntu Mono",
    "Consolas",
    "Lucida Console",
    "Liberation Mono",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    "Courier New",
    monospace,
    serif;

  --sans-font:
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif
}

/* Global Styles */

html {
  color: var(--white);
  background-color: #14191f;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
  font-family: var(--mono-font);
}

body > header {
  /* position: sticky;
  top: 0px; */
  display: flex;
  align-items: center;
  text-transform: lowercase;
  margin-bottom: 0.5em;
  juisify-content: space-between;
}

body > header a { transition: background-color 200ms, color 200ms; }
body > header a:link { color: var(--red); background-color: var(--black); text-decoration: none; } /* unvisited links */
body > header a:visited { color: var(--red) } /* visited links */
body > header a:hover { color: var(--grey); background-color: inherit; } /* user hovers */
body > header a:active { color: var(--red4) } /* active links */

body > header h1 { margin: 0; font-size: 1.5em}

main {
  margin: 1.2em 1.2em;
  word-wrap: break-word;
}

main a { transition: background-color 200ms, color 200ms; }
main a:link { color: var(--blue); text-decoration: none; } /* unvisited links */
main a:visited { color: var(--light-blue) } /* visited links */
main a:hover { background-color: var(--red); color: var(--black);  } /* user hovers */
main a:hover:visited { background-color: var(--white); }
main a:active { color: var(--red4) } /* active links */

article {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  max-width: 50em;
}

article > header {
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

article h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

article > header h1 {
  color: var(--black);
  font-size: 3em;
  background-color: var(--red);
  margin: 0;
  font-family: var(--sans-font);
  font-weight: bold;
}

article > header time {
  font-size: 0.8em;
  color: var(--grey);
  background-color: var(--black);
}

article img {
  max-width: 90%;
  display: block;
  margin: 50px auto;
}

footer {
  /* position: sticky; */
  /* bottom: 0px; */
  text-transform: lowercase;
}

